@font-face{
    font-family: headers;
    src: url("/assets/fonts/Teko-Bold.ttf");
}
// ----------------
#theMenu{
    z-index: 1000;
    position: fixed;
    background-color: #0c2180;
    width: 100%;
    //height: 7vh;
    display: grid;
    grid-template-columns: 6fr 5fr;
    
}
.menuBefore{
    opacity: 0;
    transform: translateY(-100%);
}
.topnav {
    overflow: hidden;
    margin: 0 auto;
    width: fit-content;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    font-family: headers;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .active {
    background-color:rgba($color: #fff, $alpha: .2);
    
  }
  
  .topnav .icon {
    display: none;
  }
  
 
  .topnav a:hover {
    background-color: #fff;
    color: #0c2180;
  }
  
  
@media screen and (max-width: 768px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: left;
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}

//---------------hover
//-----------------------------------
#theButterfly{
    position: absolute;
    width: 6vw;
    left: 110vw;
    animation: fly 5s linear 2s infinite;
}
@keyframes fly{
    0%{
        left: 130vw;
        top: 70vh;
    }
    10%{
        //left: 110vw;
        top: 30vh;
    }
    20%{
        //left: 110vw;
        top: 65vh;
    }
    30%{
        //left: 110vw;
        top: 35vh;
    }
    40%{
        //left: 110vw;
        top: 45vh;
    }
    50%{
        //left: 110vw;
        top: 70vh;
    }
    60%{
        //left: 110vw;
        top: 55vh;
    }
    70%{
        //left: 110vw;
        top: 76vh;
    }
    80%{
        //left: 110vw;
        top: 70vh;
    }
    90%{
        //left: 110vw;
        top: 50vh;
    }
    100%{
        left: -30vw;
        top: 30vh;
    }
}

#theButterfly2{
    position: absolute;
    width: 5vw;
    left: 110vw;
    animation: fly2 7s linear 7s infinite;
}
@keyframes fly2{
    0%{
        left: 130vw;
        top: 70vh;
    }
    10%{
        //left: 110vw;
        top: 50vh;
    }
    20%{
        //left: 110vw;
        top: 35vh;
    }
    30%{
        //left: 110vw;
        top: 65vh;
    }
    40%{
        //left: 110vw;
        top: 45vh;
    }
    50%{
        //left: 110vw;
        top: 70vh;
    }
    60%{
        //left: 110vw;
        top: 65vh;
    }
    70%{
        //left: 110vw;
        top: 86vh;
    }
    80%{
        //left: 110vw;
        top: 40vh;
    }
    90%{
        //left: 110vw;
        top: 50vh;
    }
    100%{
        left: -30vw;
        top: 30vh;
    }
}
#theButterfly3{
    position: absolute;
    width: 6vw;
    left: 110vw;
    animation: fly3 4s linear 5s infinite;
}
@keyframes fly3{
    0%{
        left: 130vw;
        top: 30vh;
    }
    10%{
        //left: 110vw;
        top: 60vh;
    }
    20%{
        //left: 110vw;
        top: 45vh;
    }
    30%{
        //left: 110vw;
        top: 65vh;
    }
    40%{
        //left: 110vw;
        top: 45vh;
    }
    50%{
        //left: 110vw;
        top: 60vh;
    }
    60%{
        //left: 110vw;
        top: 45vh;
    }
    70%{
        //left: 110vw;
        top: 76vh;
    }
    80%{
        //left: 110vw;
        top: 50vh;
    }
    90%{
        //left: 110vw;
        top: 60vh;
    }
    100%{
        left: -30vw;
        top: 30vh;
    }
}

#frontFront,#backFront,#frontFront2,#backFront2,#frontFront3,#backFront3{
    transform-origin: bottom;
    animation: wing1 0.07s infinite alternate-reverse;
    transform-box: fill-box;
    
  }
  @keyframes wing1{
    0%{
        
      transform:scaleY(1) rotate(0);
      
    }

    100%{
    
      transform:scaleY(-0.5) rotate(-20deg);
      
    }
  }
  svg{
      overflow: visible;
  }
 #backBack,#backFront,#backBack2,#backFront2,#backBack3,#backFront3{
    transform-origin: bottom;
    animation: wing1 0.07s infinite alternate;
    transform-box: fill-box;
  }
  @keyframes wing2{
    0%{
      transform:scaleY(1) scaleX(1) rotate(0);
            
    }

    100%{
      transform:scaleY(-0.8)  scaleX(2) rotate(-20deg);
    }
  }
  #frontFront,#frontBack,#backBack,#backFront,
  #frontFront2,#frontBack2,#backBack2,#backFront2,
  #frontFront3,#frontBack3,#backBack3,#backFront3{
    transform-origin: bottom;
    animation: wing1 0.07s infinite alternate;
    transform-box: fill-box;
  }
  @keyframes wing2{
    0%{
      transform:scaleY(1) scaleX(1) rotate(0);
            
    }

    100%{
      transform:scaleY(-0.5)  scaleX(2) rotate(-20deg);
    }
  }
//---------------------------------------------
#parralax1{
    height: 100vh;
    width: 100%;
    position: relative;
    top: 0px;
    left: 0px;
    background: url("/assets/backMt1.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center center;
    position: absolute;
}

#parralax2{
    width: 100vw;
    height:100vh;
    background: url("/assets/background.svg");
    background-repeat: repeat-y;
    background-size:cover;
    background-position: center center;
    position: absolute;
    display: grid;
}
#theCover{
    width: 80vw;
    height: 80vh;
    background-color: rgba($color: #ffffff, $alpha: .6);
    border-radius: 2vw;
    position: absolute;
    margin-top: 10vh;
    margin-left: 10vw;
    overflow: visible;
    z-index: 40;
}
.cover{
    transform:rotateX(0deg);
    transition: all 0.3s ease-in;
}
.coverBack{
transform:  rotateX(180deg);
opacity: 0;

transition: all 0.3s ease-out;
}
.logo img{
     z-index: 0;
     position: absolute;
     scroll-behavior: smooth;
     width: 40vw;
     top: 15vh;
   }
   
   #services{
    width: fit-content;
    position: absolute;
    bottom: 10vh;
    padding-right:2vh 10vw;
    right: 6.8vw;
    align-items: center;
      display: grid;
       grid-template-columns: 1fr;
       
        
   }
  
.serve{
    background-color:#3e2d44;
    width: 100%;
    border-radius: 1vh;
    margin: 1px auto;
    padding: .2vh 1vw;
    font-family: headers;
    transform: scaleX(1.2);
    color: whitesmoke;
    text-align: center;
    border-bottom: 2px solid rgba($color: #000000, $alpha: .2);
}
   
  .menuContent{
      float: right;
      font-family: headers; 
   }
   .menuContent:hover{
       background-color: rgba($color: #0f001b, $alpha: .8);
       color: whitesmoke;
       border-radius: 4px;
       transition: all .5s ease-in-out;
    cursor: pointer;
   }
   .menu {
       padding: 2vh 0;
       margin-right: 5.6vw;
      
       font-size: 3vh;
   }

.getQuatation{
    transform: rotate(20deg);
    position: absolute;
    top: 70vh;
    right:-5vw;
    
}
.getQuatation svg{
    animation: fly0 3s ease-in-out infinite alternate;
}

@keyframes fly0{
    0%{
        transform: perspective(0px) rotateX(40deg) ;
    }
    
    100%{
        transform: perspective(0px) rotateX(-30deg) ;
    }
}
.getQuatation svg{
    width: 20vh;
}
#dsback:hover{
fill: #8cffff;
cursor: pointer;
transition: fill .5s ease;
}

//-------------------------------------------section 2
// --------------------grid 1
#theFlower{
    position: absolute;
    margin-top: 47vh;
    height: 120vh;
    
    
   }
#flHead,#theFlower{
    animation:thisss ease-in-out 4s infinite alternate;
}
@keyframes thisss{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-2deg);
    }
}
.section2{
    position: relative;
    top:100vh;
    background-color: rgba($color: #81a3c5, $alpha: .9);
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-row-gap: 5vh;
    font-size: 0.8em;
    font-weight: bolder;
    z-index: 4;
    padding: 3vh 5vw;
    font-family: 'Montserrat', sans-serif;
}
#webApp,#databaseD{
    text-align: center;
    width: 100%;
    
}
#webApp,#databaseD,#databaseD,#theWebText,#theMenu{
   transition: all .5s ease-in-out
}

.webDTitle{
    opacity: 0;
    transform: translateY(250%);

}
.fadeIn{
    opacity: 1;
    transform: translateY(0%);
}
#webApp p,#databaseD p, .faded{
    font-size: 1.5vw;
    font-family: headers;
    text-align: center;
}
.webIcons{
    width: fit-content;
    display: flex;
    margin: 0 auto;
    
}
.webIcons img{
    width: 6vw;
}
#theWebText{
    background-color: rgba($color: #fff, $alpha: .8);
    width: 80%;
    margin: 0 auto;
    position: relative;
    padding: 4vh 4vw;
    text-align: center;
}
.textWebDesign{
   opacity: 0; 
   transform: translateX(-50%) translateY(50%);
}
// ----------------------grid 2
#thedatabaseText img{
 width: 14vw;
 float: right;

 
}
#thedatabaseText {
    text-align: justify;
    padding: 1vh 4vw 2vh 0 ;
}

// ----------------------------------grid others
.othersText{
    width: fit-content;
    margin: 0 auto;
}
// ----------------------------------------------section5
.majik{
    display: grid;
    padding-top: 10vh;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    z-index: 1;
    position: relative;
    top: 100vh;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    box-sizing: border-box;
    transform-style: preserve-3d;
  }
  .majikB{
    width: 100vw;
    height: 100vh;
    background: url(/assets/flyB.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center center;
    background-attachment: fixed;
    position: absolute;
    z-index: -1;
    
    //display: none;
  }

  // -----------------------------------------------------section 6
  .aboutUs{
      position: relative;
      display: grid;
      grid-template-columns: 1fr;
      text-align: center;
      z-index: 0;
      top:100vh;
      width: 100%;
      height: 100vh;
      background-image: url(/assets/deepsea3.jpg);
      background-repeat: no-repeat;
    background-size:cover;
    background-position: center center;
  }
  .nyuma {
    background-color: rgba($color: #81a3c5, $alpha: .7);  
    height: 100%;
    z-index: 1;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;

  }
  .aboutCard{
      background-color:rgba($color: #fffdf4, $alpha: .8);
      width: 80%;
      z-index: 2;
      position: relative;
      margin-left: 10%;
      align-self: center;
      display: grid;
      padding: 2vh 2vw;
      grid-template-columns: 1fr;
      border-radius: 2vh;
  }
  .holdUp{
      width: 15vw;
  }
  .leaders{
    grid-row: 2/3;
    grid-column: 1/2;
     display: flex;
     justify-content: space-around;
  }
.aboutText{
    padding: 2vh 2vw 0 2vw;
    text-align: justify;
}

.picClass{
    overflow: hidden;
    border-radius: 50%;
    height: 7vw;
    width: 7vw;
    margin: 1vh auto;
}
.picClass img{
    
        width: 7vw;
}
.socialMedia{
    display: flex;
    justify-content: flex-end;
}
.socialMedia img{
    width: 2vw;
}
//----------------------------------------------------------media query

 @media only screen and (max-width: 768px){
     #theCover{
    width: 90vw;
    height: 95vh;
    
    border-radius: 2vw;
    margin-top: 2.5vh;
    margin-left: 5vw;
    overflow: visible;
     }
    .cover{
    
        transform:  rotateY(0deg);
        opacity: 1;
        width: 100vw;
      
    }

    .coverBack{
    transform:  rotateY(180deg);
    opacity: 0;
    
    }
    .logo img {
        margin-top: 10vh;
        width: 90vw;
        
    }
    #theFlower{
        left:-20vh;
    }
    #theButterfly3,#theButterfly2,#theButterfly{
        width: 30vw;
    }
    #theButterfly{
        
        animation: fly 2s linear 2s infinite;
    }
    #theButterfly2{
       animation: fly2 3s linear 4s infinite;
    }
    .getQuatation{
      
        top: 80vh;
            
    }
    .contactsNew1{
        float: left;
    }
    #services{
        right: 5vw;
    }
   
    .menuContent,.divider,.contactsNew{
        font-size: 2vh;
    }
    //--------------------------------------section 2 media
    .section2{
        grid-template-columns: 1fr;
    }
    #webApp p,#databaseD p, .faded{
        font-size: 5vw;
    }
    .webIcons img{
        width: 13vw;
    }
    #thedatabaseText img{
        width: 100vw;
             
       }
    .majik{
        grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
        -ms-transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    .aboutCard{
        width: 100vw;
        margin: 0;
        font-size: 3vw;
    }
    .picClass{
        height: 14vw;
        width: 14vw;
    }
    .picClass img{
        
            width: 14vw;
    }
    .socialMedia img{
        width: 4vw;
    }
    .holdUp{
      width: 20vw;  
    }
 }